@model SeguridadInformática.Models.Control
@{
    ViewData["Title"] = "Detalles Control";
}

<h1>@ViewData["Title"]</h1>
<style>
    .no-click {
        pointer-events: none;
    }
</style>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id_Control" />

    <div class="form-group">
        <label class="control-label">Descripción:</label>
        <p>@Model.Descripcion</p>
    </div>

    <div class="form-group">
        <label>TipoControl:</label>
        <p>@Model.TipoControl.ToString()</p>
    </div>

    <div class="form-group">
        <label>Eficacia:</label>
        <p>@Model.Eficacia</p>
    </div>

    <!-- Agrega los demás campos según sea necesario -->
</form>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>
