@model SeguridadInformática.Models.Control
@{
    ViewData["Title"] = "Detalles Control";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Nombre" />

    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TipoControl"></label>
        <select asp-for="TipoControl" asp-items="@ViewBag.TipoControlOptions" class="form-control"></select>
        <span asp-validation-for="TipoControl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Eficacia" class="control-label"></label>
        <input asp-for="Eficacia" type="number" class="form-control" />
        <span asp-validation-for="Eficacia" class="text-danger"></span>
    </div>

    <!-- Agrega los demás campos según sea necesario -->

</form>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>
