@model SeguridadInformática.Models.Riesgo

@{
    ViewData["Title"] = "Crear Riesgo";
}

<div class="container py-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

                        <!-- Aquí va el campo de selección con el mismo estilo -->
                        <div class="mb-3">
                            <label asp-for="CategoriaAmenaza" class="form-label"></label>
                            <select asp-for="CategoriaAmenaza" asp-items="@(new SelectList(ViewBag.CategoriasAmenaza))" class="form-select"></select>
                            <span asp-validation-for="CategoriaAmenaza" class="text-danger"></span>

    <div class="form-group" id="tagDetailsContainer" style="display:none;">
        <label asp-for="TagCategoria"></label>
        <select asp-for="TagCategoria" id="tagCategoria" class="form-control"></select>
        <span asp-validation-for="TagCategoria" class="text-danger"></span>
    </div>

                            <div class="mb-3">
                                <label asp-for="Vulnerabilidad" class="form-label"></label>
                                <select asp-for="Vulnerabilidad" asp-items="new SelectList(ViewBag.VulnerabilidadOptions)" class="form-select"></select>
                                <option value="">Selecciona una opción</option>
                                </select>
                                <span asp-validation-for="Vulnerabilidad" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Impacto" class="form-label"></label>
                                <select asp-for="Impacto" asp-items="new SelectList(ViewBag.ImpactoOptions)" class="form-select"></select>
                                <span asp-validation-for="Impacto" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="PosibilidadDeOcurrir" class="form-label"></label>
                                <select asp-for="PosibilidadDeOcurrir" asp-items="new SelectList(ViewBag.PosibilidadOptions)" class="form-select"></select>
                                <span asp-validation-for="PosibilidadDeOcurrir" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ActivoEnRiesgo" class="form-label"></label>
                                <select asp-for="ActivoEnRiesgo.Id_Activo" asp-items="@(ViewBag.ListaActivos)" class="form-select"></select>
                                <span asp-validation-for="ActivoEnRiesgo" class="text-danger"></span>
                            </div>


    <!-- Agrega los demás campos según sea necesario -->

                            <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // Función para cargar las opciones del tercer combo basado en la selección del segundo combo
        function cargarOpcionesTercerCombo() {
            var tipoCategoria = $("#CategoriaAmenaza").val(); // Cambiado a "CategoriaAmenaza"
            var tagCategoria = $("#tagCategoria");

            // Limpiar las opciones actuales
            tagCategoria.empty();

            // Obtener las opciones basado en el valor seleccionado en el segundo combo
            switch (tipoCategoria) {
                case "DESASTRES_NATURALES":
                    cargarOpcionesEnum(tagCategoria, ["Fuego", "Daños Por Agua", "Desastres Naturales"]);
                    break;
                case "ORIGEN_INDUSTRIAL":
                    cargarOpcionesEnum(tagCategoria, ["Fuego", "Daños Por Agua", "Desastres Naturales", "Contaminación Mecánica", "Contaminación Electromagnética", "Avería de Origen Físico o Lógico", "Corte del Suministro Eléctrico", "Condiciones inadecuadas de temperatura o humedad", "Fallo de servicios de comunicaciones", "Interrupción de otros servicios y suministros esenciales", "Degradación de los soportes de almacenamiento de la información", "Emanaciones electromagnéticas"]);
                    break;
                case "NO_INTENCIONADOS":
                    cargarOpcionesEnum(tagCategoria, ["Errores de los usuarios", "Errores del administrador", "Errores de monitorización (log)", "Errores de configuración", "Deficiencias en la organización", "Difusión de software dañino", "Errores de [re-]encaminamiento", "Errores de secuencia", "Escapes de información", "Alteración accidental de la información", "Destrucción de información", "Fugas de información", "Vulnerabilidades de los programas (software)", "Errores de mantenimiento / actualización de programas (software)", "Errores de mantenimiento / actualización de equipos (hardware)", "Caída del sistema por agotamiento de recursos", "Pérdida de equipos", "Indisponibilidad del personal"]);
                    break;
                case "ATAQUES_INTENCIONADOS":
                    cargarOpcionesEnum(tagCategoria, ["Manipulación de los registros de actividad (log)", "Manipulación de la configuración", "Suplantación de la identidad del usuario", "Abuso de privilegios de acceso", "Uso no previsto", "Difusión de software dañino", "[Re-]encaminamiento de mensaje", "Alteración de secuencia", "Acceso no autorizado", "Análisis de tráfico", "Repudio", "interceptación de información (escucha)", "Modificación deliberada de la información", "Destrucción de información", "Divulgación de información", "Manipulación de programas", "Manipulación de los equipos", "Denegación de servicio", "Robo", "Ataque destructivo", "Ocupación enemiga", "Indisponibilidad del personal", "Extorsión", "Ingeniería social"]);
                    break;
                default:
                    break;
            }
        }

        // Función para agregar las opciones al combo
        function cargarOpcionesEnum(select, opciones) {
            for (var i = 0; i < opciones.length; i++) {
                var option = document.createElement("option");
                option.value = opciones[i];
                option.text = opciones[i];
                select.append(option);
            }
        }

        // Llamar a la función al cargar la página
        $(document).ready(function () {
            cargarOpcionesTercerCombo();

            // Manejar el evento de cambio en el segundo combo
            $("#CategoriaAmenaza").change(function () { // Cambiado a "CategoriaAmenaza"
                var tipoCategoriaValue = $(this).val(); // Cambiado a "CategoriaAmenaza"
                if (tipoCategoriaValue === "DESASTRES_NATURALES" || tipoCategoriaValue === "ORIGEN_INDUSTRIAL" || tipoCategoriaValue === "NO_INTENCIONADOS" || tipoCategoriaValue === "ATAQUES_INTENCIONADOS") {
                    $("#tagDetailsContainer").show();
                    cargarOpcionesTercerCombo();
                } else {
                    $("#tagDetailsContainer").hide();
                }
            });
        });
    </script>
}