@{
    ViewData["Title"] = "Aplicativo de gestión de activos";
}

<div class="container text-center">
    <h1 style="font-size: 2.5em; margin-bottom: 50px;">@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Index", "Activos")">
                <img src="~/images/1.jpg" alt="Activos" class="img-fluid">
                
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Index", "Controles")">
                <img src="~/images/2.jpg" alt="Controles" class="img-fluid">
                
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Index", "Riesgos")">
                <img src="~/images/3.jpg" alt="Riesgos" class="img-fluid">
                
            </a>
        </div>
    </div>
</div>

